<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
        <button type="button" class="btn btn-navbar"
                data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--  start of navbar entry -->
        <a class="brand" href="/"><i class="icon-filter icon-white"></i>
            Challenge 2227 - Timeline Generator
        </a>
        </div>
    </div>
</div>
